<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807484082597-9irheto7upolj9m0l46408d6la716oti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807484082597-9irheto7upolj9m0l46408d6la716oti</string>
	<key>API_KEY</key>
	<string>AIzaSyDyup332OKFIidYz0LgUNIxnL-IZeGCBHI</string>
	<key>GCM_SENDER_ID</key>
	<string>807484082597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.nttdataeveris</string>
	<key>PROJECT_ID</key>
	<string>arquiteturasbackfront</string>
	<key>STORAGE_BUCKET</key>
	<string>arquiteturasbackfront.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807484082597:ios:0196b5190df392c920c04c</string>
</dict>
</plist>